<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Delivery Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'add_delivery_info' %}">
        {% csrf_token %}
        <div>
            <br>
            <h3>Add Delivery Information</h3>
        </div>
        <!-- Ajouter les champs de formulaire ici de la même manière que le template de mise à jour -->
        <div>
            <label for="id_code_postal">Code Postal:</label>
            <input type="text" name="code_postal" id="id_code_postal" value="{{ form.code_postal.value }}" required>
        </div>
        
        <div>
            <label for="id_ville">Ville:</label>
            <input type="text" name="ville" id="id_ville" value="{{ form.ville.value }}" required>
        </div>
        
        <div>
            <label for="id_pays">Pays:</label>
            <input type="text" name="pays" id="id_pays" value="{{ form.pays.value }}" required>
        </div>
        
        <div>
    <label for="id_code_postal">Code Postal:</label>
    <input type="text" name="code_postal" id="id_code_postal" value="{{ form.code_postal.value }}" required>
</div>

<div>
    <label for="id_ville">Ville:</label>
    <input type="text" name="ville" id="id_ville" value="{{ form.ville.value }}" required>
</div>

<div>
    <label for="id_pays">Pays:</label>
    <input type="text" name="pays" id="id_pays" value="{{ form.pays.value }}" required>
</div>

        <div>
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>
