<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Customer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <form method="POST" action="/update/{{ customer_instance.id }}">
        {% csrf_token %}
        <div>
            <br>
            <h3>Update Details</h3>
        </div>
        <div>
            <p>Customer ID:</p>
            <div>
                <input type="text" name="cid" value="{{ customer_instance.cid }}" />
            </div>
        </div>
        <div>
            <p>Customer Name:</p>
            <div>
                <input type="text" name="nom" value="{{ customer_instance.nom }}" />
            </div>
        </div>
        <div>
            <p>Customer LastName:</p>
            <div>
                <input type="text" name="prenom" value="{{ customer_instance.prenom }}" />
            </div>
        </div>
        <div>
            <p>Customer Email:</p>
            <div>
                <input type="email" name="email" value="{{ customer_instance.email }}" />
            </div>
        </div>
        <div>
            <p>Customer Contact:</p>
            <div>
                <input type="text" name="telephone" value="{{ customer_instance.telephone }}" />
            </div>
        </div>
        <div>
            <br>
            <button type="submit">Update</button>
        </div>
    </form>
</body>

</html>
