<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>customer ID</th>
                <th>customer Name</th>
                <th>customer LastName</th>
                <th>customer Email</th>
                <th>customer Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer %}
            <tr>
                <td>{{ customer.cid }}</td>
                <td>{{customer.nom}}</td>
                <td>{{customer.prenom}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.telephone}}</td>
                <td>
                    <a href="/edit/{{ customer.id }}">Edit</a>
                    <a href="/delete/{{customer.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:black;" href="/customer">Add New Record</a></button>
</body>

</html>